@import "../../index.scss";
// 🔹 Подключаем глобальные стили: переменные (--green, --txt-white, --gap-large, --font-medium, и т.д.).
// Это делает стили едиными и поддерживаемыми по всему проекту.

.discount__title {
    padding: 6px 16px !important; //Внутренние отступы (вертикаль и горизонталь)
    //  !important — это приоритетное указание для браузера:
    // «Применяй этот стиль, даже если есть другие, более специфичные».
    // Когда используют	| Зачем
    // Переопределить библиотечный стиль	| Например, Bootstrap, Tailwind
    // Принудительно применить стиль	| Когда другие правила его "перебивают"
    // Временно — при отладке	| Чтобы увидеть, сработает ли нужный стиль
    background-color: var(--green); //Зелёный фон — как фирменный цвет
    text-align: center; //Текст выравнивается по центру
    align-self: center; // Центрирует кнопку внутри flex-контейнера
    color: var(--txt-white);
    font-size: var(--font-small);
    font-weight: var(--normal);
    //Белый текст, мелкий размер, обычная жирность
    border-radius: 8px; //Скруглённые края — мягкость
}

.navbar {
    max-width: 1440px;
    margin: 0 auto; //	Центрированная ширина макета
    display: flex; //Горизонтальное размещение блоков
    justify-content: space-between;
    // 🔸 space-between размещает элементы максимально далеко друг от друга,
    // НО:
    // первый элемент прилипает к левому краю,
    // последний — к правому краю,
    // между ними — равномерное пространство.
    align-items: center; //	Центровка по вертикали
    padding: 30px 40px;
    border-bottom: 1px solid var(--grey-divider); //	Тонкая линия снизу — отделяет шапку

    .nav-left {
        //  логотип и переключатель темы
        display: flex;
        align-items: center;
        gap: 20px; // Лого и переключатель стоят в ряд с отступом между ними.


        .logo {
            //— Размер логотипа (иконки бренда).
            width: 70px;
            height: 70px;
        }

        .switch {
            //переключатель темы (тёмная/светлая)
            position: relative; // элемент становится якорем для абсолютных потомков (например, ::before, ::after)
            display: inline-block; //// позволяет задавать размеры + располагаться в строку, как inline, но вести себя как блок
            width: 60px;
            height: 32px;

            input {
                opacity: 0; //// элемент полностью прозрачный (невидим)
                width: 0;
                height: 0;

                &:checked+.slider:before {
                    transform: translate(99%, 50%);
                    // Если чекбокс включён, белый кружок (::before) сдвигается вправо (эффект переключения).
                }
            }

            .slider {
                position: absolute; // фиксируем слайдер внутри родителя .switch
                cursor: pointer; // указатель при наведении
                top: 0;
                left: 0;
                right: 0;
                bottom: 0; // растягиваем slider на всю область switch
                background-color: var(--grey); // цвет фона переключателя
                border-radius: 32px; // скруглённая форма — "капсула"
                transition: all .4s ease-in-out; // плавное переключение
                display: flex; // размещаем иконки внутри
                align-items: center; // выравниваем по вертикали
                justify-content: space-between; // солнце слева, луна справа
                gap: 10px; // расстояние между иконками
                padding: 5px; // внутренние отступы

                .icon {
                    color: var(--white); // белая иконка
                    fill: var(--white); // заливка белая
                }

                &::before {
                    content: ""; // создаём белый шарик
                    position: absolute; // позиционируем внутри .slider
                    height: 28px;
                    width: 28px; // размер шарика
                    left: 2px;
                    bottom: 50%;
                    transform: translateY(50%); // центрируем по вертикали
                    background-color: var(--white); // белый фон
                    transition: all .4s ease-in-out; // плавное движение
                    border-radius: 50%; // делаем круг
                }
            }
        }
    }

    .nav-mid {
        display: flex;
        flex-direction: column; // вертикальный столбец
        gap: 18px; // отступ между кнопкой и ссылками

        .links {
            display: flex; // горизонтальный ряд
            gap: var(--gap-large);

            .link {
                color: var(--txt-black);  // основной цвет текста
                font-weight: var(--normal);
                font-size: var(--font-medium);
                text-decoration: none; // убираем подчёркивание
                transition: all .3s ease-in-out;  // плавное наведение

                &:hover {
                    color: var(--txt-grey); // при наведении — серый
                }

                &.active {
                    color: var(--txt-grey);  // активная ссылка — серого цвета
                }
            }
        }
    }

    .nav-right {
        display: flex;  // размещаем иконки и бургер в ряд
        align-items: center;
        gap: var(--gap-big); // расстояние между элементами

        .icon-item {
            position: relative; // для позиционирования счётчика

            .count {
                position: absolute; // поверх иконки
                left: 0;
                top: 5px;
                display: flex;
                justify-content: center;
                align-items: center; // центрирование числа
                background-color: var(--green); // зелёный кружок
                width: 24px;
                height: 24px;
                border-radius: 50%; // круглая форма
                font-size: 11px;
                font-weight: var(--light-bold);
                color: var(--txt-white); // белое число
            }
        }

        .icon {
            color: var(--txt-black); // чёрная иконка
            width: 48px;
            height: 48px;
            stroke-width: 1px;
            cursor: pointer;
            transition: all .3s ease-in-out; // плавный hover
            fill: var(--background); // цвет заливки

            &:hover {
                fill: var(--black); // заливка чёрная при наведении
                color: var(--txt-white); // белая иконка
            }
        }

        .burger {
            display: flex;
            flex-direction: column;
            gap: 6px; // расстояние между полосками
        }

        .bar {
            width: 30px;
            height: 4px;
            background-color: var(--black); // чёрные полоски
            transition: all .4s ease-in-out;
        }

        .menu {
            position: absolute; // поверх страницы
            visibility: hidden; // скрыто по умолчанию
            opacity: 0;
            transform: translateX(100%); // уходит вправо
            inset: 0; // занимает весь экран
            width: 100%;
            height: 100%;
            background-color: #10101080; // затемнение заднего фона
            transition: all .4s ease-in-out;
            display: flex;
            justify-content: flex-end; // выравниваем меню справа
            z-index: 999; // поверх всего

            &.open {
                opacity: 1; // делаем видимым
                visibility: visible;
                transform: translateX(0); // возвращаем в экран
            }

            &-content {
                padding: 12px 20px;
                position: relative;
                background-color: var(--background); // фон панели

                .icon {
                    position: absolute; // иконка закрытия
                    top: 12px;
                    right: 20px;
                }

                .link {
                    text-decoration: none;
                    color: var(--txt-black);
                    font-size: var(--font-big);
                    font-weight: 500;
                }
            }

            &-links {
                margin-top: 80px;
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 36px; // отступ между ссылками
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .navbar {
        padding: 30px 20px;

        .nav-left {
            .logo {
                width: 68px;
                height: 68px;
            }
        }

        .nav-mid {
            .links {
                gap: 24px;
            }
        }

        .nav-right {
            gap: 11px;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        .nav-left {
            .switch {// уменьшаем размер переключателя
                width: 52.5px;
                height: 28px;

                .slider {
                    &::before {// уменьшаем шарик
                        width: 24.5px;
                        height: 24.5px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 480px) {
    .navbar {
        padding: 12px 20px;

        .nav-left {
            .logo {
                width: 44px;
                height: 44px;
            }
        }

        .nav-right {
            .icon-item {
                .count {
                    width: 18px;
                    height: 18px;
                    font-size: 8px;
                }
            }
        }
    }
}